<h1>Hravé Mzdy</h1>
<p>
  This is a About page for the
  <a href="http://hravemzdy.org/">Hravé Mzdy</a>
  payroll application.

  Contact Hravé Mzdy about payroll application at the
  <a href="http://hravemzdy.org/feedback">feedback page</a>
</p>
