<h1>Hravé Mzdy</h1>
<%= button_to "Start payroll task", :new_payroll_task, method: 'get', id: 'start_payroll_task' %>
<p>
  This is a home page for the
  <a href="http://hravemzdy.org/">Hravé Mzdy</a>
  payroll application.
</p>
