header#page_header {
  background: #6da4bc;
  color: #fff;
  font-size: 0.9em;
  height: 230px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 20px;
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: #fef8e7;
    text-decoration: none;
  }
  nav#utility {
    float: right;
    font-size: 0.8em;
  }
}

div#middle_column
  {
  margin-left: 50px ;
  margin-right: 50px ;
}
div#container
  {
  min-width: 780px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
div#main
  {
  /*background-color: #CCC;*/
  position: relative;
}
div#middle_column
  {
  margin: 0 50px;
}
#tapeta
  {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  height: 230px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#tplogo
  {
  width: 388px;
  height: 76px;
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 0;
}
#tpbtag
  {
  width: 140px;
  height: 76px;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 0;
}
.ribbon
  {
  background-image: url(#tpbtag);
  background-image: url(#tplogo);
  background-image: url(#tapeta);
  /*background: #f8f8f6;
border: 5px solid #f2f3ef;
border-radius: 15px 15px 0px 0px;
box-shadow: 0 0 6px #C6C9BC;*/
  margin: 0px;
  padding: 70px 35px 30px;
  /*30 ~ 35
padding: px, posun ribbon*/
  z-index: 1;
  position: relative;
}
.ribbon H3
  {
  position: relative;
  /*ribbon_width+ribbon_padding+ribbon_border*/
  height: 34px;
  font-family: Futura, sans-serif;
  font-style: italic;
  font-size: 22px;
  padding: 8px 10px 0px;
  /*10px on left + 10px on right*/
  margin-left: -45px;
  margin-right: -45px;
  /*center the foreground part of the ribbon*/
  color: #9A9DA0;
  background-color: rgba(61, 176, 208, 0.8);
  background-color: rgba(141, 211, 245, 0.8);
  /*background-color: #b0d03d;
text-shadow: 1px 1px 0px #7d9d1c;*/
  box-shadow: 0px 0px 3px #999;
  text-align: center;
  z-index: 2;
}
div.left_folded_back, DIV.right_folded_back
  {
  top: 40px;
}
span.left
  {
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(29, 93, 108, 0.8) rgba(29, 93, 108, 0.8) transparent transparent;
  border-color: rgba(37, 107, 141, 0.8) rgba(37, 107, 141, 0.8) transparent transparent;
  /*border-color: #5d6c1d #5d6c1d transparent transparent;*/
  z-index: 1;
}
div.left_folded_back
  {
  border-color: rgba(46, 159, 190, 0.8) rgba(46, 159, 190, 0.8) rgba(46, 159, 190, 0.8) transparent;
  border-color: rgba(97, 174, 211, 0.8) rgba(97, 174, 211, 0.8) rgba(97, 174, 211, 0.8) transparent;
  /*border-color: #9fbe2e #9fbe2e #9fbe2e transparent;*/
  border-style: solid;
  border-width: 20px 15px;
  height: 0;
  left: -45px;
  position: absolute;
  top: 104px;
  /*posun ribbon*/
  width: 16px;
  /*10 ~ 15*/
  z-index: 0;
}
span.right
  {
  position: absolute;
  width: 0;
  height: 0;
  right: 0px;
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(29, 93, 108, 0.8) transparent transparent rgba(29, 93, 108, 0.8);
  border-color: rgba(37, 107, 141, 0.8) transparent transparent rgba(37, 107, 141, 0.8);
  /*border-color: #5d6c1d transparent transparent #5d6c1d;*/
  z-index: 1;
}
div.right_folded_back
  {
  border-color: rgba(46, 159, 190, 0.8) transparent rgba(46, 159, 190, 0.8) rgba(46, 159, 190, 0.8);
  border-color: rgba(97, 174, 211, 0.8) transparent rgba(97, 174, 211, 0.8) rgba(97, 174, 211, 0.8);
  /*border-color: #9fbe2e transparent #9fbe2e #9fbe2e;*/
  border-style: solid;
  border-width: 20px 15px;
  height: 0;
  right: -45px;
  position: absolute;
  top: 104px;
  /*posun ribbon*/
  width: 16px;
  /*10 ~ 15*/
  z-index: 0;
}

div.container {
  overflow: hidden;
  padding: 0 20px;
}

section#content {
  padding: 20px 25px 20px 25px;
}

section#content_form {
  padding: 20px 25% 20px 25%;
}

section#pyg_app_reference {
  padding: 0px 0px 0px 0px;
  clear: both;
}

footer#page_footer {
  background-color: #4384D1;
  border-bottom: 10px solid #1e3409;
  color: #fff;
  font-size: 0.7em;
  height: 100px;
  padding: 10px 20px;
  ul {
    margin-left: -10px;
    padding: 0;
    li {
      border-right: 1px solid #fef9e7;
      display: inline;
      margin: 0;
      &:last-child {
        border-right: none;
      }
      a {
        padding: 5px 10px;
        &:link,
        &:hover,
        &:visited,
        &:active {
          color: #fff;
        }
      }
    }
  }
}

