// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input#start_payroll_task {
  background: #5e768d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546a7f), color-stop(100%, #5e768d));
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  outline: none;
  padding: 5px 20px 0 20px;
  width: 300px;
  height: 35px;
  display:block;
  margin:0 auto;
}

input#start_payroll_task {
  width: 235px;
  height: 52px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415079));
  background: -moz-linear-gradient(top, #718DA9 0%, #415079 100%);
}

input#start_payroll_task :hover {
  cursor: pointer;
}
