// Place all the styles related to the payroll_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form#new_payroll_task {
  background: #9cbc2c;
  border-radius: 5px;
  counter-reset: fieldsets;
  padding: 20px;
  width: 500px;
}

form#new_payroll_task fieldset {
  border: none;
  margin-bottom: 10px;
}

form#new_payroll_task fieldset:last-of-type {
  margin-bottom: 0px;
}

form#new_payroll_task > fieldset > legend:before {
  content: "Step " counter(fieldsets) ": ";
  counter-increment: fieldsets;
}

form#new_payroll_task fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}

form#new_payroll_task ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}

form#new_payroll_task ol ol li {
  background: none;
  border: none;
  float: left;
}

form#new_payroll_task label {
  float: left;
  font-size: 13px;
  width: 110px;
}

form#new_payroll_task fieldset fieldset label {
  background: none no-repeat left 50%;
  line-height: 20px;
  padding:  0 0 0 30px;
  width: auto;
}

form#new_payroll_task fieldset fieldset label:hover {
  cursor: pointer;
}

form#new_payroll_task input:not([type=radio]),
form#new_payroll_task textarea,
form#new_payroll_task select {
  background: #ffffff;
  border: none;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}

form#new_payroll_task input:not([type=submit]):focus,
form#new_payroll_task select:focus,
form#new_payroll_task textarea:focus {
  background: #eaeaea;
}

form#new_payroll_task input[type=radio] {
  float: left;
  margin-right: 5px;
}

form#new_payroll_task button {
  background: #384313;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: italic 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}

form#new_payroll_task button:hover {
  background: #1e2506;
  cursor: pointer;
}



