// Place all the styles related to the payroll_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container {
  //background: #8dd3f5;
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1541bc), color-stop(100%, #8dd3f5));
  //background: -moz-linear-gradient(top, #1541bc 0%, #8dd3f5 100%);
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: url(image_path('down_arrow_select.jpg')),
  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E5E5E5));
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;

}

form#new_payroll_task {
  background: #c9d0de;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px #444;
  -moz-box-shadow: 0px 0px 8px #444;
  counter-reset: fieldsets;
  padding: 10px;
  width: 1000px;
  font-family: sans-serif;
}

h1 {
  font-size: 35px;
  color: #445668;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 0;
  text-shadow: 0px 1px 0px #f2f2f2;
}

form#new_payroll_task fieldset {
  border: none;
  margin-bottom: 10px;
}

form#new_payroll_task fieldset:last-of-type {
  margin-bottom: 0px;
}

form#new_payroll_task > fieldset > legend:before {
  content: "Step " counter(fieldsets) ": ";
  counter-increment: fieldsets;
}

form#new_payroll_task fieldset legend {
  font-size: 18px;
  color: #445668;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 5px 0;
  text-shadow: 0px 1px 0px #f2f2f2;
}

form#new_payroll_task ol li {
  list-style: none;
  float: left;
  padding-right: 30px;

}

form#new_payroll_task ol li.field_start_row {
  clear: left;
}

form#new_payroll_task ol ol li {
  background: none;
  border: none;
  float: left;
}

form#new_payroll_task label {
  float: left;
  clear: left;
  margin: 11px 5px 0 0;
  text-align: left;
  font-size: 16px;
  color: #445668;
  width: 150px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #f2f2f2;
}

form#new_payroll_task label.label_for_check {
  float: left;
  font-size: 13px;
  width: 220px;
}

form#new_payroll_task fieldset fieldset label {
  background: none no-repeat left 50%;
  line-height: 20px;
  padding:  0 0 0 30px;
  width: auto;
}

form#new_payroll_task fieldset fieldset label:hover {
  cursor: pointer;
}

form#new_payroll_task select {
  background: #5e768d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546a7f), color-stop(100%,#5e768d));
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  outline: none;
  padding: 5px 20px 0 20px;
  width: 250px;
  height: 32px;
  margin: 0 0 5px 0;
}

form#new_payroll_task input:not([type=radio]),
form#new_payroll_task input:not([type=checkbox]),
form#new_payroll_task textarea {
  background: #5e768d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546a7f), color-stop(100%,#5e768d));
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  outline: none;
  padding: 5px 20px 0 20px;
  width: 210px;
  height: 24px;
  margin: 0 0 5px 0;
}

form#new_payroll_task input[type=checkbox] {
  background: #5e768d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546a7f), color-stop(100%,#5e768d));
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  outline: none;
  padding: 5px 20px 0 20px;
  width: 30px;
  height: 24px;
  margin: 0 0 5px 0;
}

form#new_payroll_task input::-webkit-input-placeholder,
form#new_payroll_task select::-webkit-input-placeholder,
form#new_payroll_task textarea::-webkit-input-placeholder {
  color: #a1b2c3;
  text-shadow: 0px -1px 0px #38506b;
}


form#new_payroll_task input:not([type=submit]):focus,
form#new_payroll_task select:focus,
form#new_payroll_task textarea:focus {
  background: #728eaa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(100%,#728eaa));
  background: -moz-linear-gradient(top, #668099 0%, #728eaa 100%);
}

form#new_payroll_task input[type=radio] {
  float: left;
  margin-right: 5px;
}

form#new_payroll_task input[type=submit] {
  width: 235px;
  height: 52px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415079));
  background: -moz-linear-gradient(top, #718DA9 0%, #415079 100%);
  display:block;
  margin:0 auto;
}

form#new_payroll_task input[type=submit]:hover {
  cursor: pointer;
}

input#again_payroll_task {
  background: #5e768d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546a7f), color-stop(100%, #5e768d));
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 100%);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  outline: none;
  padding: 5px 20px 0 20px;
  width: 300px;
  height: 35px;
  display:block;
  margin:0 auto;
}

input#again_payroll_task {
  width: 230px;
  height: 230px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  border-radius: 115px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415079));
  background: -moz-linear-gradient(top, #718DA9 0%, #415079 100%);
}

input#again_payroll_task :hover {
  cursor: pointer;
}
#again_tpbtag
  {
  width: 140px;
  height: 76px;
  position: relative;
  margin-top: -140px;
  margin-left: -70px;
  top: -160px;
  left: 50%;
  z-index: 0;
}



