<footer id="page_footer">
  <ul>
    <li><%= link_to "About Hravé Mzdy", "/pages/about" %></li>
    <li><%= link_to "Help", "/pages/help" %></li>
    <li><%= link_to "File a Bug", "#" %></li>
  </ul>
  <p>&copy; 2013 Hravé Mzdy s.r.o. All Funny Things Reserved.</p>
</footer>