<header id="page_header" role="banner">
  <nav id="utility">
  </nav>
  <%= link_to(image_tag("logo.png",
                        alt: "Payroll The Game",
                        id: "logo"),
              root_url,
              title: "Dashboard") %>
</header>